@page
@model AJJDHotel.Pages.Reservations.EditModel

@{
    ViewData["Title"] = "Edit";
}
@{
    var newStartDate = Model.Reservation.StartDate.ToString("s")+".000";
    var newEndDate = Model.Reservation.EndDate.AddDays(-1).ToString("s")+".000";
    int numDays = (Model.Reservation.EndDate - Model.Reservation.StartDate).Days;
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-resNumber="@Model.ResNumber" asp-route-guestEmail="@Model.GuestEmail" asp-route-numDays="@numDays">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.ReservationId" />
            <input type="hidden" asp-for="Reservation.Id" />

            <div class="form-group">
                <p>Guest has reserved room @Model.Reservation.Room.RoomNumber</p>
                <label asp-for="Reservation.RoomId" class="control-label">Reassign room:</label>
                <select asp-for="Reservation.RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="Reservation.RoomId" class="text-danger"></span>
            </div>


            <div class="form-group">

                <label asp-for="Reservation.StartDate" class="control-label"></label>
                <input id="start" asp-for="Reservation.StartDate" class="form-control"

                       min="@newStartDate" max="@newEndDate" />
                <span asp-validation-for="Reservation.StartDate" class="text-danger"></span>
            </div>

            @{

                var newStartDate2 = Model.Reservation.StartDate.AddDays(1).ToString("s")+".000";
                var newEndDate2 = Model.Reservation.EndDate.ToString("s")+".000";
            }
            <div class="form-group">
                <label asp-for="Reservation.EndDate" class="control-label"></label>
                <input id="end" asp-for="Reservation.EndDate"  class="form-control"

                       min="@newStartDate2" max="@newEndDate2" />
                <span asp-validation-for="Reservation.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Reservation.TotalCharge" class="control-label"></label>*@
                <input type="hidden" asp-for="Reservation.TotalCharge" class="form-control" />
                @*<span asp-validation-for="Reservation.TotalCharge" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Reservation.NumGuests" class="control-label"></label>
                <input asp-for="Reservation.NumGuests" class="form-control" />
                <span asp-validation-for="Reservation.NumGuests" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../ManageReservations" asp-route-resNumber="@Model.ResNumber"
       asp-route-guestEmail="@Model.GuestEmail">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
