@model AJJDHotel.Models.Reservation
@*@{
    string checkOut = @Model.Checkout.ToString("u");
    checkOut = checkOut.Substring(0, checkOut.IndexOf(' '));

    string checkIn = @Model.Checkin.ToString("u");
    checkIn = checkIn.Substring(0, checkIn.IndexOf(' '));

}


    Check-out date:
    <label for="changeDate">
        <input type="date" id="changeDate" name="changeDate" value="@checkOut" min="@checkIn" max="@checkOut" />
    </label>
    <br />
    Room number:
    <label for="changeRoom">
        <select id="changeRoom" name="changeRoom">
            <option name="top">@Model.RoomType<text>s available</text></option>
            <option name="E146">E146</option>
            <option name="W960">W960</option>
            <option name="W711">W711</option>
            <option name="W710">W710</option>
            <option name="E308">E308</option>
            <option name="E1183">E1183</option>
        </select>
    </label>
    <br />
    <label for="submit">
        <button class="btn buttonblue" >Submit changes</button>
    </label>*@



