@page
@model AJJDHotel.Pages.ManageRoomTypesModel
@{
    ViewData["Title"] = "Manage Room Types";
}



<div id="account">
    <h1>Manage Room Types</h1>

    <form name="modify-room-types" method="post" class="col-6">

        <input type="hidden" id="numOfRoomTypes" value="@Model.RoomTypeList.Count" />
        <div class="textbox">
            <div class="dropdown dropdown-margin">
                <label for="roomTypeSelect">Select a room type</label>
                <select id="roomTypeSelect" name="room_title" class="form-control">
                    <option selected value="option_0">Select a Room Type</option>
                    @for (int i = 0; i < Model.RoomTypeList.Count(); i++)
                    {

                        <option value="option_@i">@Model.RoomTypeList[i].RoomName/@Model.RoomTypeList[i].Beds/@Model.RoomTypeList[i].View</option>
                    }

                </select>
            </div>
        </div>

        @for (int i = 0; i < Model.RoomTypeList.Count; i++)
        {
            string className = (i == 0) ? "textbox" : "hideRes";

            <div class=@className id="result_@i">

                <img src="@Model.RoomTypeList[i].ImgPath" alt="testImg" height="128" width="128" />
                <div>
                    <input type="hidden" id="RoomTypeId" name="RoomTypeId" value="@Model.RoomTypeList[i].RoomTypeId" />
                </div>
                <div>
                    <label for="RoomName">Room Name</label>
                    <input type="text" id="RoomName" name="RoomName" value="@Model.RoomTypeList[i].RoomName">
                </div>
                <div>
                    <label for="Description">Description</label>
                    <textarea id="Description" rows="5" class="form-control" name="Description" value="">@Model.RoomTypeList[i].Description</textarea>
                </div>

                <div>
                    <label for="View">View</label>
                    <input type="text" id="View" name="View" value="@Model.RoomTypeList[i].View">
                </div>

                <div>
                    <label for="Beds">Beds</label>
                    <input type="text" id="Beds" name="Beds" value="@Model.RoomTypeList[i].Beds">
                </div>
                <div>
                    <label for="Rate">Rate per night</label>
                    <input type="number" id="Rate" class="form-control" name="Rate" value="@Model.RoomTypeList[i].Rate">
                </div>
                <div>
                    <label for="ImgPath">ImageURL</label>
                    <input type="text" id="ImgPath" name="ImgPath" value="@Model.RoomTypeList[i].ImgPath">
                </div>

            </div>
        }
        <input type="submit" class="btn buttonblue" name="submit" value="Save changes" />
    </form>

</div>
