@page
@model AJJDHotel.Pages.ManageRoomTypesModel
@{
    ViewData["Title"] = "Manage Room Types";
}



<div id="account">
    <h1>Manage Room Types</h1>

    <form name="modify-room-types" method="post" class="col-6">

        <div class="textbox">
            <div class="dropdown dropdown-margin">
                <label for="roomTypeSelect">Select a room type</label>
                <select id="roomTypeSelect" name="room_title" class="form-control">
                    <option selected value="option_0">Select a Room Type</option>
                    @for (int i = 0; i < Model.RoomTypeList.Count(); i++)
                    {

                        <option value="option_@i">@Model.RoomTypeList[i].RoomName/@Model.RoomTypeList[i].Beds/@Model.RoomTypeList[i].View</option>
                    }

                </select>
            </div>
        </div>

        @for (int i = 0; i < Model.RoomTypeList.Count; i++)
        {
            string className = (i == 0) ? "textbox" : "hideRes";

            <div class=@className id="result_@i">

                <img src="@Model.RoomTypeList[i].ImgPath" alt="testImg" height="128" width="128" />
                <div>
                    <label for="description">Description</label>
                    <textarea id="description" rows="5" class="form-control" name="room_description" value="">@Model.RoomTypeList[i].Description</textarea>
                </div>

                <div>
                    <label for="room_view">View</label>
                    <input type="text" id="room_view" name="room_view_type" value="@Model.RoomTypeList[i].View">
                </div>

                <div>
                    <label for="beds">Beds</label>
                    <input type="text" id="beds" name="beds_setup" value="@Model.RoomTypeList[i].Beds">
                </div>
                <div>
                    <label for="rate">Rate per night</label>
                    <input type="number" id="rate" class="form-control" name="room_price" value="@Model.RoomTypeList[i].Rate">
                </div>
                <div>
                    <label for="img">ImageURL</label>
                    <input type="text" id="img" name="img_path" value="@Model.RoomTypeList[i].ImgPath">
                </div>

            </div>
        }
        <input type="submit" class="btn buttonblue" name="submit" value="Save changes" />
    </form>

</div>
