@page
@using AJJDHotel.Utility
@model AJJDHotel.Pages.MyAccountModel
@{
    ViewData["Title"] = "Home page";
}
<div id="account">
  @* @Model.num *@
    
    <h2>My reservations</h2>
    <table id="accReservationTable" border="1">
        <thead>
            <tr>
                <th>Confirmation number</th>
                <th>Room type</th>
                <th>Beds</th>
                <th>View</th>
                <th>Date</th>
                <th>Total charge</th>
                <th>Number of guests</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var r in Model.UsersReservations)
        {
            int confNum = Model.MakeConfirmationNumber(r.ReservationId);
            <tr>
                <th>@confNum</th>
                <th>n/a</th>
                <th>n/a</th>
                <th>n/a</th>
                <th>@r.StartDate.ToShortDateString() &ndash; @r.EndDate.ToString("d")</th>
                <th>@r.TotalCharge</th>
                <th>@r.NumGuests</th>
                <th>
                    @if ((r.StartDate - DateTime.Today).TotalDays > 2)
                    {
                        <a asp-page="/myaccount" asp-route-ID="@r.ReservationId" asp-page-handler="Cancel">
                            <button type="submit" class="button buttonblue cancel">Cancel</button>
                        </a>
                    }
                </th>
            </tr>
        }
    </table>
    
    
       
    @*<h2>Manage my account </h2>
            <input type="button" class="btn buttonblue" id="submit" value="Delete my account" />*@

</div>