@page
@using AJJDHotel.Utility
@model AJJDHotel.Pages.MyReservationsModel
@{
    ViewData["Title"] = "Home page";
}
<div id="account">

  @* @Model.num *@
    
    <h2>My reservations</h2>


    
    <h1>My reservations</h1>

    <table id="accReservationTable" border="1">
        <thead>
            <tr>
                <th>Confirmation number</th>
                <th>Room type</th>
                <th>Beds</th>
                <th>View</th>
                <th>Date</th>
                <th>Total charge</th>
                <th>Number of guests</th>
                <th>Cancel reservation*</th>
            </tr>
        </thead>
        @foreach (var r in Model.UsersReservations)
        {
            int confNum = Model.MakeConfirmationNumber(r.ReservationId);
            <tr>
                <th>@confNum</th>
                <th>@r.Room.RoomType.RoomName</th>
                <th>@r.Room.RoomType.Beds</th>
                <th>@r.Room.RoomType.View</th>
                <th>@r.StartDate.ToShortDateString() &ndash; @r.EndDate.ToString("d")</th>
                <th>@string.Format("{0:C}", r.TotalCharge)</th>
                <th>@r.NumGuests</th>
                <th>
                    @if ((r.StartDate - DateTime.Today).TotalDays > 2)
                    {
                        @*<a asp-page="/MyReservations" asp-route-ID="@r.ReservationId" asp-page-handler="Cancel">
                                <button type="submit" class="button buttonblue cancel">Cancel</button>
                            </a>*@
                        <form method="post">
                            <input type="hidden" id="ReservationId" name="ReservationId" value="@r.ReservationId" />
                            <button type="submit" class="button buttonblue cancel">Cancel</button>


                        </form>
                    }
                </th>
            </tr>
        }
    </table>


    <h6 style="margin-top: 7px">*To cancel a reservation less than 2 days away, please call hotel support.</h6>

  
    <br />
    <h3>To change your personal info, visit <a href="~/Identity/Account/Manage">Manage your account</a> page.</h3>

</div>
