@page
@using AJJDHotel.Utility
@model AJJDHotel.Pages.MyReservationsModel
@{
    ViewData["Title"] = "Home page";
}
<div id="account">

    <!--<h1>My account</h1>

    <h2>Update personal info</h2>

    <form name="update-info" method="GET"
          action="process.php">

        <div class="update-box">
            <div class="textbox">
                <label for="first-name">First Name:</label>
                <input type="text" placeholder="" name="first-name" value="Model.ApplicationUser.FirstName">
            </div>

            <div class="textbox">
                <label for="Last-name">Last name:</label>
                <input type="text" placeholder="" name="Last-name" value="Model.ApplicationUser.LastName">
            </div>

            <div class="textbox">
                <label for="phone-number">phone number:</label>
                <input type="text" placeholder="" name="phone-number" value="Model.ApplicationUser.PhoneNumber">
            </div>

            <div class="textbox">
                <label for="birthday">birthday:</label>-->
    @* <input type="date" placeholder="" name="birthday" value="">*@
    <!--<input type="text" placeholder="01/14/1990" value="Model.ApplicationUser.DOB.ToString("d")" onfocus="(this.type='date')" onblur="(this.type='text')">
            </div>

            <div class="textbox">
                <label for="email">email:</label>
                <input type="email" name="email" id="email-address" placeholder="email@example.com" />
            </div>

            <input type="submit" class="btn buttonblue" name="submit" value="update" />
            <h4>change password</h4>

            <div class="textbox">
                <label for="new-Password">New password:</label>
                <input type="password" placeholder="password" name="new-Password" value="">
            </div>

            <div class="textbox">
                <label for="retype-Password">retype password:</label>
                <input type="password" placeholder="password" name="retype-Password" value="">
            </div>

            <div class="textbox">
                <label for="old-Password">old password:</label>
                <input type="password" placeholder="password" name="old-Password" value="">
                <br>
                <input type="submit" class="btn buttonblue" name="submit" value="change" />
            </div>
    </form>-->

    <h1>My reservations</h1>
    <table id="accReservationTable" border="1">
        <thead>
            <tr>
                <th>Confirmation number</th>
                <th>Room type</th>
                <th>Beds</th>
                <th>View</th>
                <th>Date</th>
                <th>Total charge</th>
                <th>Number of guests</th>
                <th>Cancel reservation*</th>
            </tr>
        </thead>
        @foreach (var r in Model.UsersReservations)
        {
            int confNum = Model.MakeConfirmationNumber(r.ReservationId);
            <tr>
                <th>@confNum</th>
                <th>@r.Room.RoomType.RoomName</th>
                <th>@r.Room.RoomType.Beds</th>
                <th>@r.Room.RoomType.View</th>
                <th>@r.StartDate.ToShortDateString() &ndash; @r.EndDate.ToString("d")</th>
                <th>@string.Format("{0:C}", r.TotalCharge)</th>
                <th>@r.NumGuests</th>
                <th>
                    @if ((r.StartDate - DateTime.Today).TotalDays > 2)
                    {
                        @*<a asp-page="/MyReservations" asp-route-ID="@r.ReservationId" asp-page-handler="Cancel">
                                <button type="submit" class="button buttonblue cancel">Cancel</button>
                            </a>*@
                        <form method="post">
                            <input type="hidden" id="ReservationId" name="ReservationId" value="@r.ReservationId" />
                            <button type="submit" class="button buttonblue cancel">Cancel</button>
                        </form>
                    }
                </th>
            </tr>
        }
    </table>

    <h6 style="margin-top: 7px">*To cancel a reservation less than 2 days away, please call hotel support.</h6>

    @*<h2>Manage my account </h2>
        <input type="button" class="btn buttonblue" id="submit" value="Delete my account" />*@
    <br />
    <h3>To change your personal info, visit <a href="~/Identity/Account/Manage">Manage your account</a> page.</h3>

</div>