@page
@using AJJDHotel.Utility
@model AJJDHotel.Pages.OrderSummaryModel
@{
    ViewData["Title"] = "Order Summary";
}



<div class="my-columns">
    <h1>Order Summary</h1>

    <section>
        <table class="table my-table leftalign my-color">
            <thead>
                <tr>
                    <th colspan="2">Review your information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.User.Identity.Name</td>
                </tr>
                <tr>
                    <td>@Model.ApplicationUser.Email</td>
                </tr>
                <tr>
                    <td>@Model.ApplicationUser.PhoneNumber</td>
                </tr>
            </tbody>
        </table>
    </section>
    <aside>
        <table class="table my-table leftalign my-color">
            <thead>
                <tr>
                    <th>Order Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        <td>Room Cost:</td>
                        <td>@Model.RoomType.Rate</td>
                    </tr>
                    <tr>
                        <td>Tax:</td>
                        <td>
                            @{
                                decimal rate;
                                decimal tax = (rate=Model.RoomType.Rate) * (decimal)0.08;
                                decimal total = tax + rate;
                            }
                            @tax
                        </td>
                    </tr>
                <tr>
                        <td>Order Total:</td>
                        <td>@total</td>
                    </tr>
            </tbody>
        </table>
    </aside>

</div>

@*<a href="~/OrderConfirmation?id=@Model.RoomChosen"><button type="submit" class="btn">Place your order</button></a>*@
<a href="~/OrderConfirmation"><button type="submit" class="btn">Place your order</button></a>






