@page
@model AJJDHotel.Pages.OrderConfirmationModel

@{
    ViewData["Title"] = "Order Confirmation";
}


    <div class="textContainer">
    <h1>Thank you, your room has been reserved.</h1>
    <p>Please check your email for order confirmation number or visit <a href="~/MyAccount">My Account</a> to review reservation information.</p>
    <h3>Confirmation number: @Model.ConfirmationNumber</h3>
    <h4>Dates of your stay: @Model.Reservation.StartDate.Date.ToString("D") &mdash; @Model.Reservation.EndDate.Date.ToString("D")</h4>
    <h5>Total charge: @string.Format("{0:C}",Model.Reservation.TotalCharge) </h5>
    <h5>Your new password: <span style="color:#FF0000;font-family:'Times New Roman', Times, serif">@Model.Password</span></h5>
    <div class="resultItem">
        <img src="@Model.RoomType.ImgPath" alt="testImg" height="128" width="128" />

        <div class="textContainer">
            <h3>@Model.RoomType.RoomName</h3>
            <h5>$@Model.RoomType.Rate</h5>
            <p>@Model.RoomType.Description</p>
        </div>
    </div>
</div>
