@page
@model ReportModel
@{
    ViewData["Title"] = "Report";
}

<h1>Report Page</h1>
<form action="#" id="searchBar">
    <label for="checkin">
        Check-in:
        <input type="date" id="checkin" name="checkin"
               value="@DateTime.Today"
               min="@DateTime.Today" max="2021-12-31" />
    </label>
    <label for="checkout">
        Check-out:
        <input type="date" id="checkout" name="checkout"
               value="@DateTime.Today"
               min="@DateTime.Today" max="2021-12-31" />
    </label>
    <label for="submit">
        <a href="#"><input type="button" id="submit" value="Search" /></a>
    </label>
</form>





<div class="tab">
    <button class="tablinks" id="revenue-btn">Revenue</button>
    <button class="tablinks" id="occupancy-btn">Occupancy</button>
    <button class="tablinks" id="stuff-btn">Stuff</button>
</div>

<div id="report-revenue" class="tabcontent">
    <h3>Revenue</h3>
    <table class="resTable">
        <tr>
            <th>Gross amount</th>
            <th>Room type</th>
        </tr>
        <tr>
            <td>$1,102,399.36</td>
            <td>Standard Room</td>
        </tr>
        <tr>
            <td>$1,000,242.92</td>
            <td>Junior Suite
            <td>
        </tr>
        <tr>
            <td>$942,915.60</td>
            <td>Deluxe Suite</td>
        </tr>
    </table>

    <p>@{ double math = 1102339.36 + 1000242.92 + 942915.60;
        string total = $"{math:C}";
    }Total revenue for this period: @total</p>

</div>

<div id="report-occupancy" style="display: none" class="tabcontent">
    <h3>Occupancy</h3>
    <table class="resTable">
        <tr>
            <th>Room type</th>
            <th>Total reservation instances</th>
        </tr>
        <tr>
            <td>Standard Room</td>
            <td>5,434</td>
        </tr>
        <tr>
            <td>Junior Suite</td>
            <td>3,138</td>
        </tr>
        <tr>
            <td>Deluxe Suite</td>
            <td>2,288</td>
        </tr>
    </table>
    <p>@{math = 5434 + 3138 + 2288;}Total occupancy for this period: @math</p>
</div>

<div id="report-stuff" style="display: none" class="tabcontent">
    <h3>Stuff</h3>
    <p>This is the report in tab stuff.</p>
</div>

<script src="~/js/reports.js"></script>
