@page
@model ReportModel
@{
    ViewData["Title"] = "Report";
}

<h1>Report Page</h1>
<form method="post">
    <label for="checkin">
        Check-in:
        <input type="date" id="checkin" name="checkin_date"
               value="@DateTime.Today"
               min="@DateTime.Today" max="2021-12-31" />
    </label>
    <label for="checkout">
        Check-out:
        <input type="date" id="checkout" name="checkout_date"
               value="@DateTime.Today"
               min="@DateTime.Today" max="2021-12-31" />
    </label>
    <label for="submit">
        <input class="buttonblue" type="submit" id="submit" value="Search" />
    </label>
</form>


<div class="tab">
    <button class="tablinks" id="revenue-btn">Revenue</button>
    <button class="tablinks" id="occupancy-btn">Occupancy</button>
    <button class="tablinks" id="stuff-btn">Stuff</button>
</div>




<div id="report-revenue" class="tabcontent">
    <h3>Revenue</h3>
    <table class="resTable">
        <tr>
            <th>Gross amount</th>
            <th>Room type</th>
        </tr>
        <tr>
            @{
                decimal srRev = 0;
                @for (int i = 0; i < Model.SRCount.Count; i++)
                {
                    srRev += @Model.SRCount[i].TotalCharge;
                }
                <td>@srRev</td>
            }
            <td>Standard Room</td>
        </tr>
        <tr>
            @{
                decimal jsRev = 0;
                @for (int i = 0; i < Model.JSCount.Count; i++)
                {
                    jsRev += @Model.JSCount[i].TotalCharge;
                }
                <td>@jsRev</td>
            }
            <td>Junior Suite
            <td>
        </tr>
        <tr>
            @{
                decimal dsRev = 0;
                @for (int i = 0; i < Model.DSCount.Count; i++)
                {
                    dsRev += @Model.DSCount[i].TotalCharge;
                }
                <td>@dsRev</td>
            }
            <td>Deluxe Suite</td>
        </tr>
    </table>

    <p>
        @{
            decimal RevTotal = srRev + jsRev + dsRev;
        }
        Total revenue for this period: @RevTotal
    </p>

</div>

<div id="report-occupancy" style="display: none" class="tabcontent">
    <h3>Occupancy</h3>
    <table class="resTable">
        <tr>
            <th>Room type</th>
            <th>Total reservation instances</th>
        </tr>
        <tr>
            <td>Standard Room</td>
            <td>@Model.SROcc</td>
        </tr>
        <tr>
            <td>Junior Suite</td>
            <td>@Model.JSOcc</td>
        </tr>
        <tr>
            <td>Deluxe Suite</td>
            <td>@Model.DSOcc</td>
        </tr>
    </table>
    @{
        int OccTotal = Model.SROcc + Model.JSOcc + Model.DSOcc;
    }
    <p>Total occupancy for this period: @OccTotal</p>
</div>

<div id="report-stuff" style="display: none" class="tabcontent">
    <h3>Stuff</h3>
    <table class="resTable">
        <tr>
            <th>Room type</th>
            <th>Total Number of Guests</th>
        </tr>
        <tr>
            <td>Standard Room</td>
            <td>@Model.SRCount.Sum(n => n.NumGuests)</td>
        </tr>
        <tr>
            <td>Junior Suite</td>
            <td>@Model.JSCount.Sum(n => n.NumGuests)</td>
        </tr>
        <tr>
            <td>Deluxe Suite</td>
            <td>@Model.DSCount.Sum(n => n.NumGuests)</td>
        </tr>
    </table>
    @{
        int GuestTotal = Model.SRCount.Sum(n => n.NumGuests) + Model.JSCount.Sum(n => n.NumGuests) + Model.DSCount.Sum(n => n.NumGuests);
    }
    <p>Total number of guests for this period: @GuestTotal</p>
</div>

<script src="~/js/reports.js"></script>