@model int
@{
    string today = DateTime.Today.ToString("u");
    today = today.Substring(0, today.IndexOf(' '));

    string tomorrow = DateTime.Today.AddDays(1).ToString("u");
    tomorrow = tomorrow.Substring(0, tomorrow.IndexOf(' '));

    string maxStart = DateTime.Today.AddYears(2).ToString("u");
    maxStart = maxStart.Substring(0, maxStart.IndexOf(' '));

    string maxEnd = DateTime.Today.AddDays(1).AddYears(2).ToString("u");
    maxEnd = maxEnd.Substring(0, maxEnd.IndexOf(' '));
}
<form method="Post">
    <div class="searchBar">

        <label for="checkin">
            Check-in:


            <input type="date" id="checkin" name="checkin"
                   value="@today"
                   min="@today" max="@maxStart" />
        </label>
        <label for="checkout">
            Check-out:


            <input type="date" id="checkout" name="checkout"
                   value="@tomorrow"
                   min="@tomorrow" max="@maxEnd" />
        </label>
        <label for="numGuests">
            Number of guests:


            <select id="numGuests" name="numGuests">
                @Html.Raw(@RenderDropDown(Model));
            </select>
        </label>
        <label for="submit"> </label>

        <input type="submit" class="btn buttonblue" value="Search">

    </div>
</form>


@functions {
    string RenderDropDown(int n)
    {
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        for (int i = 1; i < n; i++)
            sb.Append($"<option name=\"{i}\">{i}</option>");
        return sb.ToString();
    }
}


 