@model int
@{
    string today = DateTime.Today.ToString("u");
    today = today.Substring(0, today.IndexOf(' '));
}
<form method="Post">
    <div class="searchBar">

        <label for="checkin">
            Check-in:
            <input type="date" id="checkin" name="checkin"
                   value="@today"
                   min="@today" max="2021-12-31" onchange="dateValidation()" />
        </label>
        <label for="checkout">
            Check-out:
            <input type="date" id="checkout" name="checkout"
                   value="@today"
                   min="@today" max="2021-12-31" />
        </label>
        <label for="numGuests">
            Number of guests:
            <select id="numGuests" name="numGuests">
                @Html.Raw(@RenderDropDown(Model));
            </select>
        </label>
        <label for="submit">
            @*<a href="~/SearchResults?sorry=false"><button class="btn buttonblue" id="submit" value="Search">Search</button></a>*@
            <input type="submit" class="btn buttonblue" value="Search">
        </label>

    </div>
</form>


@functions {
    string RenderDropDown(int n)
    {
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        for (int i = 1; i < n; i++)
            sb.Append($"<option name=\"{i}\">{i}</option>");
        return sb.ToString();
    }
}


<script>
    function dateValidation() {
        var mindate = document.getElementById("checkin");
        var maxdate = document.getElementById("checkout");
        maxdate.min = mindate.value;
    }
</script>