@page
@using AJJDHotel.Utility
@model AJJDHotel.Pages.SearchResultsModel
@{
}

<h1>Search Results</h1>
<div id="searchForm">
    <partial name="SearchBarPartial" model="5" />
</div>

<label for="bedViewBy">Beds</label>
<select id="bedViewBy" onChange="bedBox()">
    @foreach (var bed in Model.BedTypes)
    {
        <option value="@bed">@bed</option>
    }
    <option value="Any" selected="selected"> Any</option>
</select>


<label for="viewViewBy">View</label>
<select id="viewViewBy" onChange="viewBox()">
    @foreach (var view in Model.ViewTypes)
    {
        <option value="@view">@view</option>
    }
    <option value="Any" selected="selected"> Any</option>
</select>
<br/>

<span class="DateSearchStr"><span id="Marker">checkin: </span>@String.Format("{0:M/d/yyyy}", Model.checkin) <span id="hypthen">-</span> <span id="Marker">checkout: </span>@String.Format("{0:M/d/yyyy}", Model.checkin)</span> 

<br />
<partial name="ResultItemPartial" model="Model.AvailableRoomTypes" />


<script>

    function bedBox() {
        var e = document.getElementById("bedViewBy");
        var boxInput = e.options[e.selectedIndex].value;
        var allItems = document.querySelectorAll(".resultsWrapper .resultItem");
        for (var i = 0; i < allItems.length; i += 1) {
            var divValue = allItems[i].getElementsByTagName("input")[1].value;
            if (boxInput != "Any") {
                if (divValue != boxInput) {
                    allItems[i].classList.add("hideBed");
                }
                else {
                    allItems[i].classList.remove("hideBed");
                }
            }
            else {
                allItems[i].classList.remove("hideBed");
            }
        }
        viewBox();
    }

    function viewBox() {
        var e = document.getElementById("viewViewBy");
        var boxInput = e.options[e.selectedIndex].value;
        var allItems = document.querySelectorAll(".resultsWrapper .resultItem");
        for (var i = 0; i < allItems.length; i += 1) {
            var divValue = allItems[i].getElementsByTagName("input")[2].value;
            if (boxInput != "Any") {
                if (divValue != boxInput) {
                    allItems[i].classList.add("hideView");
                }
                else {
                    allItems[i].classList.remove("hideView");
                }
            }
            else {
                allItems[i].classList.remove("hideView");
            }
        }
        bedBox();
    }

</script>