@page
@model AJJDHotel.Pages.RoomTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RoomType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType.Beds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.Beds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType.View)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.View)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType.RoomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.RoomName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType.ImgPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.ImgPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RoomType.RoomTypeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
