@page
@model AJJDHotel.Pages.RoomTypes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomType[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType[0].Beds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType[0].View)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType[0].RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType[0].Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType[0].ImgPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RoomType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.View)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgPath)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RoomTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RoomTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RoomTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
